%h1 Goodbye!
%p It was nice having you here
%p
  Say #{link_to "Hallo", say_hello_path} again.
  %br
  Addition: #{1+2}
  %br
  Concatenation: #{ "cow" + "boy"}
  %br
  Time in one our: #{ 1.hour.from_now}

